.btn {
  padding: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.margin-0 {
  margin: 0 !important;
}

.gray-500 {
  color: #71717a !important;
}

.gray-600 {
  color: #52525b !important;
}

.btn-primary {
  background-color: #FF7272 !important;
  color: #ffff;
}

.btn-primary:hover {
  background-color: #ff3f3f;
}

.btn-register {
  background-color: #fafafa !important;
  color: #ffff;
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  color: #27272a;
}

.btn-register:hover {
  background-color: #e1e1e1;
}

.btn-primary-dark {
  background-color: #004D40 !important;
  color: #ffff;
}

.btn-primary-dark:hover {
  background-color: #001a16;
}

.img {
  width: 100%;
}

a {
  text-decoration: none;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

div {
  display: block;
}

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center;
  display: flex;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-primary {
  color: #FF7272;
  display: inline-block;
}

h1 {
  font-size: 1.875rem;
}

.banner {
  height: 800px;
  background-color: white;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  display: grid;
  gap: 1rem;
}

.banner .banner-left {
  padding-left: 5rem;
  padding-top: 6rem;
  position: relative;
}

.banner .banner-left .text-box {
  color: white;
  position: relative;
  left: 0rem;
}

.banner .banner-left .text-box .banner-title {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

.banner .banner-left .text-box .banner-desc {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #71717a;
  font-weight: 200;
}

.banner .banner-left .banner-menubar {
  display: flex;
  background-color: white;
  padding-top: 4rem;
}

.banner .banner-left .banner-menubar .banner-menubar-menu {
  color: #d4d4d8;
  background-color: white;
  border-radius: 0.5rem;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.banner .banner-left .banner-card-tracking {
  display: flex;
  margin-top: 1.5rem;
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  z-index: 1;
  width: 120%;
}

.banner .banner-left .banner-card-tracking label {
  font-weight: 600;
  color: #a1a1aa;
}

.banner .banner-left .banner-card-tracking .banner-input {
  padding: 1.5rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.banner .banner-left .banner-card-tracking .input {
  margin-top: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.banner .banner-left .banner-card-tracking .banner-card-tracking-btn {
  margin: 1.5rem 1rem;
  border-radius: 0.5rem;
}

.banner .banner-right {
  position: relative;
}

.banner .banner-right .banner-img {
  object-position: top;
  position: absolute;
  top: 10rem;
  right: 0;
  width: 80%;
  min-height: 400px;
  object-fit: cover;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 10;
  padding-left: 5rem;
  padding-right: 5rem;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar .navbar-logo {
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.75rem;
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-menu .menu {
  display: block;
  padding: 1.5rem 1.5rem;
  color: #27272a;
  font-weight: 700;
  text-decoration: none;
}

.navbar .navbar-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.features,
.convenience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.features .sub-heading,
.convenience .sub-heading {
  padding: 0rem 23rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #71717a;
  font-weight: 500;
}

.list-features {
  display: flex;
  padding: 1rem 4rem;
}

.list-features .list-features-box {
  margin: 1rem;
  padding: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #FFF6F7;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-top: 0px;
  z-index: 1;
}

.list-features .list-features-box:hover {
  background-color: #FF7272;
  cursor: pointer;
}

.list-features .list-features-box:hover .icon {
  background-color: white;
  color: #FF7272;
}

.list-features .list-features-box:hover .title a,
.list-features .list-features-box:hover .list-features-desc {
  color: white;
}

.list-features .list-features-box .title a {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #FF7272;
}

.list-features .list-features-box .list-features-desc {
  color: #71717a;
  font-size: 1rem;
  line-height: 1.5rem;
}

.list-features .list-features-box .icon {
  padding: 1rem;
  border-radius: 50rem;
  width: 60px;
  height: 60px;
  background-color: #FF7272;
  color: #FFF6F7;
}

.list-convenience {
  display: flex;
  padding: 1rem 4rem;
}

.list-convenience .list-convenience-box {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 30px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #FDFDFD;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-top: 0px;
  z-index: 1;
}

.list-convenience .list-convenience-box:hover {
  background-color: #FF7272;
  cursor: pointer;
}

.list-convenience .list-convenience-box:hover .icon,
.list-convenience .list-convenience-box:hover .title a,
.list-convenience .list-convenience-box:hover .list-convenience-desc {
  color: white !important;
}

.list-convenience .list-convenience-box .title a {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #FF7272;
}

.list-convenience .list-convenience-box .list-convenience-desc {
  color: #71717a;
  font-size: 1rem;
  line-height: 1.5rem;
}

.list-convenience .list-convenience-box .convenience-icon {
  flex: 1 1 30%;
}

.list-convenience .list-convenience-box .convenience-icon .icon {
  margin-top: 0.25rem;
  padding: 1rem;
  border-radius: 50rem;
  width: 80px;
  height: 80px;
  background-color: transparent;
  color: #FF7272;
}

.list-convenience .list-convenience-box .convenience-desc {
  flex: 1 1 70%;
}

.works {
  padding: 5rem 8rem 1rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  background-color: #FFF6F7;
}

.works .works-title {
  padding-right: 8rem;
  line-height: 3rem;
}

.works .works-desc {
  color: #71717a;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.works-onlineshop {
  display: flex;
  padding: 1rem 8rem;
  background-color: #FFF6F7;
}

.works-onlineshop .store-total {
  flex: 1 1 10%;
  padding-right: 2rem;
}

.works-onlineshop .store-total .store-total-total {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.works-onlineshop .store-desc {
  text-align: center;
  color: #FF7272;
  font-size: 1rem;
}

.works-onlineshop .works-onlineshop-logo {
  flex: 1 1 70%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding-left: 5rem;
}

.works-onlineshop .works-onlineshop-logo .img {
  padding: 2rem;
}

.works-onlineshop .vertical-line {
  display: inline-block;
  border-left: 2px solid #d4d4d8;
  margin: 0 10px;
  height: 125px;
}

.testimoni {
  padding: 5rem 8rem;
  gap: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.testimoni .testimoni-title {
  padding-right: 8rem;
}

.testimoni .quote-icon {
  padding-top: 1rem;
  color: #FF7272;
  flex: 1 1 20%;
}

.testimoni .testimony-quote {
  display: flex;
  padding-top: 8rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #71717a;
}

.testimoni .author {
  display: flex;
  justify-content: space-between;
}

.testimoni .author .author-name {
  font-weight: 700;
  padding-top: 1rem;
  color: #27272a;
}

.testimoni .author .testimony-next {
  width: 40px;
  height: 40px;
}

.register {
  background-image: url("../../assets/img/iph_track-package.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 3rem 8rem;
  color: white;
  text-align: center;
}

.register .text-box {
  padding-left: 6rem;
  padding-right: 6rem;
}

.register .text-box .register-title {
  font-size: 2rem;
  font-weight: 500;
}

.register .text-box .register-desc {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 6rem;
}

.faq {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1;
  padding: 5rem;
}

.faq .faq-right {
  padding-top: 3rem;
}

.faq .faq-left-img {
  width: 400px;
  height: auto;
}

.faq .accordion {
  background-color: transparent;
  color: #444;
  font-weight: 600;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 5px;
  border-radius: .25rem;
  border: 1px solid #d4d4d8;
}

.faq .accordion:hover {
  background-color: #ccc;
}

.faq .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faq .active:after {
  content: "\2212";
}

.faq .panel {
  line-height: 1.25rem;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
  padding: 5rem;
  background-color: #FF7272;
}